<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>janken</title>
</head>

<body>
  <div><a href="/logout">ログアウト</a></div>

  <h1>Janekn GAME!</h1>

  <div th:if="${loginUser}">
    Hi [[${loginUser}]]
  </div>

  <h2>エントリー</h2>
  <!--
     <div th:if="${room}">
     //<ul>
       <li th:each="user : ${room.users}">[[${user}]]</li>
    //</ul>
   </div>
  -->

  <div th:each="user:${Users}">
    <li><a th:href="@{/match(id=${user.id})}"> [[${user.name}]]</a></li>
  </div>

  <h2>試合結果</h2>

  <p th:if="${Matches}">
  <div th:each="match:${Matches}">
    <tr>
      <td>id:[[${match.id}]]</td>
      <td>user1:[[${match.user1}]]</td>
      <td>user2:[[${match.user2}]]</td>
      <td>user1の手:[[${match.user1Hand}]]</td>
      <td>user2の手:[[${match.user2Hand}]]</td>
    </tr>
  </div>
  </p>

  <!--
  <a href="/janken/1">グー</a>
  <a href="/janken/2">チョキ</a>
  <a href="/janken/3">パー</a>
  <div th:if="${judge}">
    <div>あなたの手:[[${mhand}]]</div>
    <div>CPUの手:[[${ehand}]]</div>
    <div>結果:[[${judge}]]</div>
  </div>
  -->

</body>

</html>
